body{
    margin: 0%;
    height: 100%;
}

.box{
    display:flex;
    flex-direction: column;
    width:100%;
    flex-wrap: nowrap;
}
.header{
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    height: 40px;
    width:auto;
    padding: 0px;
    align-items: center;
    justify-content:space-between;
}
.header-logo-text{
    font-size: 24px;
    color: #f9faf8;
    text-align: left;
}
.navlinks{
    font-size: 18px;
    color: #e5e7eb;
    text-align: right;
}

.hero{
    background-color: #1f2937;
    display:flex;
    flex-direction: row;
    height: 500px;
    align-items: center;
    justify-content: space-between;
}
.herobox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
}
.heromain{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
  }
.hero-link-text{
    color: #E5E7EB;
    font-size: 18px;
  }
  
.placeholder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.randominfo{
    background-color: white;
    display:flex;
    flex-direction: column;
    height: 500px;
}
.randomflex{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }
  
.ranbox1, .ranbox2,  .ranbox3, .ranbox4{
    width: 100px;
    height: 100px;
  }
.infoheader{
    font-size: 36px;
    color:#1f2937;
  }
.quote-container{
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote{
    display: flex;
    font-size: 36px;
    font-style:light italic;
    width: 80%;
    align-items: center;
    text-align: left;
}
.signature{
    font-weight: bold;
    text-align: right;
}

